/* 侧边导航栏 */
.menu-ul .el-menu-item,.el-submenu__title,.el-submenu__title:hover{
  background: #082F4C;
  color: #fff;
  font-size: 18px;
}
.menu-ul .el-menu-item.is-active {
  background-color: #fff;
  color: #082F4C;
}
.el-submenu .el-menu-item{
  font-size: 14px;
  min-width: auto;
}
